@import "~/assets/scss/_variable.scss";

.list {
  position: relative;
  margin-bottom: 0.75rem;
}

.link {
  display: inline-block;
}

.icon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 1.75rem;
}
