.wapper {
  display: flex;
  justify-content: space-between;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0%;
}

.nav {
  position: relative;
  display: inline-flex;
  border-radius: .375rem;
}

.prev,
.next {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  line-height: 1.25rem;
  padding: 5px;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}