@import "~/assets/scss/_variable.scss";

.wrapper {
  
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  width: 33.333333%;
}

.date {
  color: $textMainColor;
}

.category {
  &__label {
    margin-right: 0.75rem;
    color: $textSubColor;
  }
}