.title{
  margin-bottom: 10px;
  font-size: 2rem;
}

.body {
  display: flex;
}

.aside {
  width: 20%;
  margin-right: 2.5rem;
  &__title {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}

.content {
  width: 80%;
}